@charset "UTF-8";

@media screen and (max-width: 576px) {

    main{
        padding: 0px;
    }
    main > section:nth-child(1){
        min-width: 0px;
        max-width: none;
        height: 100%;
        border-radius: 0px;
    }
    #current-temperature{
        font-size: 32px !important; 
    }
}
@media screen and (max-width: 768px) {
    
    main > section:nth-child(1){
        text-align: center;
    }
    .weather-header{
        flex-direction: column;
        text-align: center;
    }
}

